<!doctype html>
<html lang="en">
<head>
  <title>Producto Nuevo</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body style="background-color: rgb(233, 144, 11);">
  <header id="header">
    <h1>Alta de producto</h1>
  </header>
  <main>
    <div class="container" id="app">
       <form  style="background-color: black;margin:10px auto ; width: 400px; padding: 20px;">
        <h1 style="color:white;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Nuevo Menú</h1>
        <div class="mb-3">
          <label style="color:white" for="plato">Plato</label><br>
          <input type="text" name="plato" id="plato" v-model="plato">
        </div>
        <div class="mb-3">
          <label style="color:white" for="descripcion">Descripción</label><br>
          <input type="text" name="descripcion" id="descripcion" v-model="descripcion">
        </div>
        <!--<div class="mb-3">
          <label for="stock">Stock</label>
          <input type="number" name="stock" id="stock" v-model="stock">
        </div>-->
        <div class="mb-3">
          <label style="color:white" for="foto">Foto</label><br>
          <input type="text" name="foto" id="foto" v-model="foto">
          <img width="50" :src="foto" alt="plato">
        </div>
          <button type="button" class="btn btn-warning" v-on:click="grabar()">Grabar</button>
      </form>
    </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src="./js/main.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/productos.js"></script>
</body>
</html>
